<form action="#">
  <div>
    <label for="artifact">Artifact :</label>
    <input
      type="text"
      name="artifact"
      id="artifact"
      [(ngModel)]="artifact"
      value="{{ name }}"
      (input)="setValue()"
    />
  </div>
  <br />
  <div>
    <label for="name">Name :</label>
    <input
      type="text"
      id="name"
      name="name"
      value="{{ artifact }}"
      [(ngModel)]="name"
    />
  </div>
  <br />
  <div>
    <label for="packageName">Package Name :</label>
    <input type="text" id="packageName" name="packageName" [(ngModel)]="packageName" />
  </div>
  <br />
</form>
